version: "3.9"

services:
  proxy:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app

  app:
    build: .
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mongo:6
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
